<html>
<link rel="stylesheet" type="text/css" href="style.css">
<div class="headers">
    <p> SPTrans </p>
</div>
    <div class="body">
        <div class = "login">
            <form method="get" action="/inspectorPage">
                <p class="login_textbox_title">Usuário</p>
                <input type="text" name="username" required>
                <br>
                <br>
                <p class="login_textbox"> Senha </p>
                <input type="password" name="password" required>
                <br>    
                <br>
                <input type="submit" value="Login">
            </form>
         </div>

    </div>
</html>

