<html>
<link rel="stylesheet" type="text/css" href="style.css">
<div class="headers">
    <p align="left" style="font-size:70px">Bem-Vindo(a)</p>

</div>
<body>
    <ul>
        <button id="veiculosConvocados" class="button" >Veículos Convocados</button>

            <script type="text/javascript">
            document.getElementById("veiculosConvocados").onclick = function () {
            location.href = "/veiculosConvocados";
                };
            </script>
    </ul>
    <ul>
             <button id="veiculosLacrados" class="button" >Veículos Lacrados</button>

            <script type="text/javascript">
            document.getElementById("veiculosLacrados").onclick = function () {
            location.href = "/veiculosLacrados";
             };
            </script>
    </ul>
    <ul>
             <button id="vistoriasRealizadas" class="button" >Vistorias Realizadas</button>

            <script type="text/javascript">
            document.getElementById("vistoriasRealizadas").onclick = function () {
            location.href = "/vistoriasRealizadas";
             };
            </script>
    </ul>

</body>
</html>



