<html>
<link rel="stylesheet" type="text/css" href="style.css">
<div class="headers">
    <p align="left" style="font-size:70px">Veículos convocados para inspeção</p>

</div>
<body>
<ul>
	<ol>
		Veículo 1
	</ol>
	<ol>
		Veículo 2
	</ol>

</ul>

</body>
</html>