<html>

<link rel="stylesheet" type="text/css" href="style.css">
<div class="headers">
    <p align="left" style="font-size:70px">Vistorias realizadas</p>

</div>
<body>
<ul>
	<ol>
		Vistoria 1
	</ol>
	<ol>
		Vistoria 2
	</ol>

</ul>

</body>
</html>
